{% extends 'admin/base.html.twig' %}

{% block title %}Modifier ligne relay{% endblock %}

{% block body %}
    <div class="header header-push">
        <h2>Modifier ligne relay</h2>
    </div>
    <div class="content-table">
        {{ form(form) }}
    </div>
{% endblock %}