{% extends 'emails/base.html.twig' %}

{% block body %}
    <h1 style="margin: 0;">Commande arrivé dans votre point relais</h1>
    <p>Bonjour,</p>
    <p>Nous vous informons que votre commande est disponible dans votre point relais, vous pouvez venir la chercher dès aujourd'hui !</p>--*///*--------------------------*//////////
    <p><b>Votre équipe Top Mousse</b></p>
{% endblock %}