{% extends 'admin/base.html.twig' %}

{% block title %}Modification d'une ligne commande emballée{% endblock %}

{% block body %}
    <div class="header header-push">
        <h2>Modification d'une ligne commande emballée</h2>
    </div>
    <div class="content-table">
        {{ form(form) }}
    </div>
{% endblock %}